rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
            allow read, write: if false;
        }

        match /users/{userId} {
            function isAuthorized() {
                return request.auth.uid == userId;
            }

            match /extraLessonRequest/singleton {
                allow read, write: if isAuthorized();
            }

            match /feedbacks/{feedbackId} {
                allow read, create, update: if isAuthorized();
            }

            match /problemReports/{problemId} {
                allow create: if isAuthorized() && !exists(/databases/$(database)/documents/users/$(userId)/problemReports/$(problemId));
                allow update: if false;
                allow read: if isAuthorized();
            }
        }
    }
}
